@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/*menu*/

:root {
    --color-primary: #18181a;
    --color-secondary: #75757c;
    --color-dark: #364c62;
    --color-light: #f5f5f5;
    --td: 150ms;
    --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.nav-main {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: -100%;
    position: fixed;
    transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
    width: 100%;
}

.nav-main::before, .nav-main::after {
    content: '';
    background-color: var(--color-primary);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform calc(var(--td) * 2) var(--td) var(--te);
    width: 100%;
    z-index: -100;
}
.nav-main::before {
    top: 0;
}
.nav-main::after {
    bottom: 0;

}
.nav-main .menu__item {
    opacity: 0;
    transform: translateX(-1rem);
    transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}
[id="main-navigation-toggle"] {
    opacity: 0;
    position: fixed;
    top: -100%;
}
[id="main-navigation-toggle"] ~ label {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 100;
}
[id="main-navigation-toggle"] ~ label span {
    display: block;
    height: 2rem;
    padding: 0.5rem;
    position: relative;
    transition: transform calc(var(--td) * 3) var(--te);
    width: 2rem;
}
[id="main-navigation-toggle"] ~ label span::before, [id="main-navigation-toggle"] ~ label span::after {
    background-color: lightgrey;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transition: transform calc(var(--td) * 3) var(--te);
    top: 0;
    width: calc(100% - 1rem);
}
[id="main-navigation-toggle"] ~ label span::before {
    transform: rotate(0) translateY(-100%);
}
[id="main-navigation-toggle"] ~ label span::after {
    transform: rotate(0) translateY(100%);
}
[id="main-navigation-toggle"]:checked ~ label span {
    transform: rotate(1turn);
}
[id="main-navigation-toggle"]:checked ~ label span::before {
    transform: rotate(45deg);
}
[id="main-navigation-toggle"]:checked ~ label span::after {
    transform: rotate(-45deg);
}
[id="main-navigation-toggle"]:checked ~ .nav-main {
    left: 0;
    transition: transform 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::before, [id="main-navigation-toggle"]:checked ~ .nav-main::after {
    transform: translateX(0);
    transition-delay: 0s;
}


ul {
    position: relative;
}
ul li {
    list-style: none;
    text-align: center;
}
ul li a {
    color: grey;
    text-decoration: none;
    font-size: 3em;
    padding: 15px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}
ul:hover li a {
    color: #0002;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
ul li:hover a {
    color: #000;
    background: rgba(255,255,255,1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: rgba(0,0,0,.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.7s,left 0.7s;
}
ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
}
ul li:nth-child(6n+1) a:before {
    background: #81ecec;
}
ul li:nth-child(6n+2) a:before {
    background: #ff7675;
}
ul li:nth-child(6n+3) a:before {
    background: #55efc4;
}
ul li:nth-child(6n+4) a:before {
    background: #a29bfe;
}
ul li:nth-child(6n+5) a:before {
    background: #fd79a8;
}
ul li:nth-child(6n+6) a:before {
    background: #ffeaa7;
}

/*footer*/

body {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
}

.footer {
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom,#3586ff,indigo);
    min-height: 100px;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}


.footer p {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
}

.wave {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

/*header*/

header {
    background: linear-gradient(to bottom,mediumslateblue,black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 5rem;
    z-index: -1;
}

.texte-header {
    padding-left: 2rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    color: white;
}

/*accueil*/

body {
    background-color: black;
}
.wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 90%;
    font-size: 0;
    transform: translate(-50%);
    text-align: center;
    z-index: -1;
}
p {
    font-family: cursive;
    font-size: 25px;
    font-weight: 500;
    color: #eee;
    opacity: 0.7;
    padding: 1rem;
}
.letter {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 1000;
    line-height: 30px;
    text-transform: uppercase;
    color: #eee;
}
.letter:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: #1d1f20;
}

.letter:nth-child(1):before {
    content: "5932710846";
    margin-top: -48px;
    animation-name: letter1;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter1 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(2):before {
    content: "1948720563";
    margin-top: -48px;
    animation-name: letter2;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter2 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(3):before {
    content: "5609173428";
    margin-top: -48px;
    animation-name: letter3;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter3 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(4):before {
    content: "0972683415";
    margin-top: -48px;
    animation-name: letter4;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter4 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(5):before {
    content: "9238504617";
    margin-top: -48px;
    animation-name: letter5;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter5 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(6):before {
    content: "1584673902";
    margin-top: -48px;
    animation-name: letter6;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter6 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(7):before {
    content: "8960472513";
    margin-top: -48px;
    animation-name: letter7;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter7 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(8):before {
    content: "9013685742";
    margin-top: -48px;
    animation-name: letter8;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter8 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(9):before {
    content: "0831752694";
    margin-top: -48px;
    animation-name: letter9;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter9 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(10):before {
    content: "6302185749";
    margin-top: -48px;
    animation-name: letter10;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter10 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(11):before {
    content: "0837641925";
    margin-top: -48px;
    animation-name: letter11;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter11 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(12):before {
    content: "9058327461";
    margin-top: -48px;
    animation-name: letter12;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter12 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(13):before {
    content: "3469152078";
    margin-top: -48px;
    animation-name: letter13;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter13 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}

.letter:nth-child(14):before {
    content: "48965787410";
    margin-top: -48px;
    animation-name: letter14;
    animation-duration: 2.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes letter14 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 40px;
    }
}