body {
    font-family:"Courier New";
    font-size:12px;
    text-align:justify;
}

h1 {
    color: red;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    background-color: lightyellow;
}

.intro {
    color: purple;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragraphes1 {
    font-family: Arial;
    font-size: 11px;
    text-indent: 20px;
    margin-top: 25px;
}

.paragraphes2 {
    font-family: Arial;
    font-size: 11px;
    text-indent: 20px;
    margin-bottom: 25px;
}

.titres {
    font-family: Arial;
    font-size: 15px;
    color: blue;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partiepara1 {
    font-family: "Times New Roman";
    font-size: 12px;
    font-style: italic;
    margin: 10px 1cm 20px 1cm;
}

.soustitre {
    font-size: 13px;
    text-decoration: underline;
}

.parasoustitre {
    text-indent: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.partiedernierpara {
    margin-top: 10px;
    margin-bottom: 20px;
    color: skyblue;
}