h1 {
    color:purple;
}

body {
    background-color: forestgreen;
    background-image: url('pingouin.png');
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: top;
    color: white;
}

h2 {
    color: white;
}

section {
    background-color: indianred;
    opacity: 0.65;
}

article {
    color: black;
    background-color: red;
    opacity: 0.70;
    margin-right: 35px;
    margin-left: 35px;
    background-image: url('pingouin.png');
    background-repeat: no-repeat ;
    background-position: center;
    padding: 50px;
}