h1 {
    color:purple;
}

body {
    color: white;
    background-image: url('feuilles.png');

}

.pingouin {
    background-image: url('pingouin.png');
    background-position: top;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}