element.style {
}
@media (min-width: 1024px)
    .HeaderMainT3_group__lxdYI {
        padding: 60px;
        max-width: 720px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
    @media (min-width: 768px)
        .HeaderMainT3_group__lxdYI {
            padding: 60px 30px;
            max-width: 520px;
        }
        .HeaderMainT3_group__lxdYI {
            display: inline-block;
            position: relative;
            padding: 40px 20px;
            width: 100%;
            vertical-align: middle;
            white-space: normal;
        }
        address, blockquote, body, code, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, table, td, textarea, th, ul {
            margin: 0;
            padding: 0;
        }
        *, :after, :before {
            background-repeat: no-repeat;
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }
        user agent stylesheet
        div {
            display: block;
        }
        .HeaderMainT3_headerContent__wtrpp.HeaderMainT3_centerAlign__1SDqL {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
        }
        .HeaderMainT3_headerContent__wtrpp {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        #__next, body {
            font-size: 16px;
        }
        #__next, body, html {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: Montserrat,sans-serif;
            font-weight: 400;
            height: 100%;
            margin: 0;
            text-rendering: optimizeLegibility;
        }
        body {
            line-height: 1;
        }
        :root {
            --font-1: "Nunito Sans";
            --font-2: "Open Sans";
            --font-1-regular-weight: 300;
            --font-2-regular-weight: 400;
            --font-1-bold-weight: 500;
            --font-2-bold-weight: 700;
            --font-1-alternative: sans-serif;
            --font-2-alternative: sans-serif;
            --page-bgcolor: #e6e9ea;
            --widget-bgcolor: #fff;
            --text-font-family: "Nunito Sans", sans-serif;
            --text-font-size: 1.6rem;
            --text-font-size-ss: 1.6rem;
            --text-line-height: 2.5rem;
            --text-line-height-ss: 2.5rem;
            --text-small-font-size: 1.3rem;
            --text-small-font-size-ss: 1.3rem;
            --text-small-line-height: 2rem;
            --text-small-line-height-ss: 2rem;
            --text-color: #7f7f8b;
            --title-text-font-family: "Open Sans", sans-serif;
            --title-text-letter-spacing: 0rem;
            --title-text-small-font-size: 2.4rem;
            --title-text-medium-font-size: 2.8rem;
            --title-text-big-font-size: 4.2rem;
            --title-text-small-font-size-ss: 2.4rem;
            --title-text-medium-font-size-ss: 2.8rem;
            --title-text-big-font-size-ss: 3.2rem;
            --title-text-small-line-height: 2.9rem;
            --title-text-medium-line-height: 3.6rem;
            --title-text-big-line-height: 5.1rem;
            --title-text-small-line-height-ss: 2.9rem;
            --title-text-medium-line-height-ss: 3.6rem;
            --title-text-big-line-height-ss: 3.8rem;
            --title-text-color: #0f1437;
            --address-text-font-size: 1.8rem;
            --address-text-font-size-ss: 1.8rem;
            --address-text-line-height: 2.7rem;
            --address-text-line-height-ss: 2.7rem;
            --quote-text-font-family: "Open Sans", sans-serif;
            --quote-text-font-size: 2.4rem;
            --quote-text-font-size-ss: 2.2rem;
            --quote-text-line-height: 3.4rem;
            --quote-text-line-height-ss: 3.1rem;
            --form-field-border-size: 1px;
            --form-field-border-color: #c4c4c4;
            --form-field-border-radius: 0;
            --form-field-bgcolor: #fff;
            --form-field-text-color: #7f7f8b;
            --form-field-text-font-size: 15px;
            Show All Properties (46 more)
        }
        html {
            font-size: 10px;
        }
        html {
            line-height: 1.15;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        html {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            cursor: default;
        }
        :after, :before {
            vertical-align: inherit;
            text-decoration: inherit;
        }
        *, :after, :before {
            background-repeat: no-repeat;
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }
        :after, :before {
            vertical-align: inherit;
            text-decoration: inherit;
        }
        *, :after, :before {
            background-repeat: no-repeat;
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }
        ::selection {
            background-color: #b3d4fc;
            text-shadow: none;
            color: #000;
        }
